html,
body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



#visualization-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#visualization-container svg {
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
}